<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fullCalMapper">

	<insert id="insert" parameterType="calDto">
		INSERT INTO CREATEDATE (T_ID, U_ID, STARTDATE, ENDDATE) VALUES (#{t_id}, #{u_id}, #{startdate}, #{enddate})
	</insert>
	<select id="select" resultType="calDto">
		SELECT T_ID,U_ID,STARTDATE,ENDDATE
		FROM CREATEDATE
	</select>
</mapper>
